# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js Build and Output
.next/
out/
build/

# Testing
coverage/

# Production/Local Env Files
# We ignore all env files but keep .env.example as a template
.env*
!.env.example

# Logs and Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*

# System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase Cache/Hosting files
.firebase/
