@import "tailwindcss";

@theme {
  --color-cream: #f4e9d5;
  --color-slate: #5a6b7c;
  --color-cherry: #281819;
  --color-crimson: #cb272c;
  --font-sans: var(--font-geist);
  --font-krona: var(--font-krona-one);
  --font-geist: var(--font-geist);
  --font-sacramento: var(--font-sacramento);
  --font-bebas: var(--font-bebas-neue);

  /* cursor position — updated by CursorCircle */
  --cursor-x: -9999px;
  --cursor-y: -9999px;
}



body {
  background-color: var(--color-cream);
  color: var(--color-cherry);
}

